# Basics

## Indent, a brace

In [21]:
def test():
    print(1)
    print(2)
    
test()

1
2

In [22]:
a = 1
b = "abc"
c = "a"

print("a: ",type(a))
print("b: ",type(b))
print("c: ",type(c))

a:  <class 'int'>
b:  <class 'str'>
c:  <class 'str'>

## 자료형

### 수치형

In [23]:
example = 5
print(type(example), example)

example = 5.
print(type(example), example)

example = 5.23
print(type(example), example)

example = 5.23e2
print(type(example), example)

example = 5.23e-2
print(type(example), example)

example = 5j
print(type(example), example)

<class 'int'> 5
<class 'float'> 5.0
<class 'float'> 5.23
<class 'float'> 523.0
<class 'float'> 0.0523
<class 'complex'> 5j

In [24]:
print(34 + 1)
print(34.0 - 0.1)
print(300 * 30)
print(1 / 2)
print(2 // 3)
print(9 ** 0.5)
print(20 % 3)

35
33.9
9000
0.5
0
3.0
2

In [25]:
print(int(1.3))
print(int(-1.7))
print(int("5"))

print(float(5))
print(float("1.3"))

print(str(3))
print(type(str(3)))
print(str(-1.3e3))

print(round(1.3))
print(round(-1.7))
print(round(1.37, 1))

1
-1
5
5.0
1.3
3
<class 'str'>
-1300.0
1
-2
1.4

### 문자열

In [26]:
sentence = "I ate 3 apples. So I was sick for five days."
print(sentence)

sentence = "I ate 3 apples.\nSo I was sick for five days."
print(sentence)

sentence = "I ate 3 apples.\tSo I was sick for five days."
print(sentence)

sentence = "He said, \"I ate 3 apples. So I was sick for five days\""
print(sentence)

I ate 3 apples. So I was sick for five days.
I ate 3 apples.
So I was sick for five days.
I ate 3 apples.	So I was sick for five days.
He said, "I ate 3 apples. So I was sick for five days"

In [27]:
number = 3
day = "five"

sentence = "I ate %d apples. So I was sick for %s days." % (number, day)
print(sentence)

sentence = "I ate {} apples. So I was sick for {} days".format(number, day)
print(sentence)

sentence = "I ate %.1f apples. So I was sick for %s days" % (number, day)
print(sentence)

sentence = "\nI ate %d apples.\nSo I was sick for %s days." % (number, day)
print(sentence)

I ate 3 apples. So I was sick for five days.
I ate 3 apples. So I was sick for five days
I ate 3.0 apples. So I was sick for five days

I ate 3 apples.
So I was sick for five days.

In [29]:
dma = "Data Management"

In [30]:
dma += " and Analysis"
dma

'Data Management and Analysis'

In [ ]:
dma*6

In [ ]:
dma[0:3]

In [ ]:
dma[:-3]

In [ ]:
dma[3] = 'd'
dma

In [ ]:
dma.count("a")

In [ ]:
dma.find("a")

In [ ]:
dma.find_all("a")

In [ ]:
# 참고용
import re

[m.start() for m in re.finditer('a', dma)]

In [ ]:
dma.upper()

In [ ]:
dma.lower()

In [ ]:
dma.replace("Data", "Life")

In [ ]:
dma.split()

In [ ]:
dma.split("a")

In [ ]:
dma.join(",")

In [ ]:
(",").join(dma)

### 리스트

In [ ]:
list1 = []

list2 = [1, 2, "list"]

list3 = [[1,2], "list"]

print(list2)
print(list3)

In [ ]:
a = [1,2,3]
b = [4,5,6]

print(a+b)

In [ ]:
a*2

In [ ]:
a[0:5]

In [ ]:
len(a)

In [ ]:
c = [1, 2, 3, 4]

sum(c)

In [ ]:
min(c)

In [ ]:
max(c)

In [ ]:
d = ["a", "b", "c", "A"]

sum(d)

In [ ]:
min(d)

In [ ]:
max(d)

In [ ]:
a = [1,2,3]

In [ ]:
a.append([4,5,6])
a

In [ ]:
a.insert(0, 0)
a

In [ ]:
a.extend([4,5,6])
a

In [ ]:
a.pop(0)
a

In [ ]:
a.index([4,5,6])

In [ ]:
a.remove([4,5,6])
a

In [ ]:
a.count(2)

In [ ]:
a.sort()
a

In [ ]:
a.reverse()
a

### 튜플

In [ ]:
list_a = [1,2,3]
list_a[0] = 3
list_a

In [ ]:
tuple_a = (1,2,3)
tuple_a[0]

In [ ]:
tuple_a[0] = 3

### 집합

In [ ]:
set([1,2,3,3,4,4,4])

In [ ]:
set1 = set([1,2,3,4])
set2 = set([3,4,5,6])
set1 & set2

In [ ]:
set1.intersection(set2)

In [ ]:
set1 | set2

In [ ]:
set1.union(set2)

In [ ]:
set1 - set2

In [ ]:
set1.difference(set2)

In [ ]:
set1.add(5)
set1

In [ ]:
set1.update([5,6,7])
set1

In [ ]:
set1.remove(4)
set1

In [ ]:
list(set1)

### 딕셔너리

In [ ]:
dic = {'a': 1, "b": 2, 3: 4}

In [ ]:
dic

In [ ]:
dic['a'] = [1,2,3]
dic

In [ ]:
del dic['a']

In [ ]:
dic

In [ ]:
dic['c'] = 3
dic

In [ ]:
'a' in dic

In [ ]:
'b' in dic

In [ ]:
dic.keys()

In [ ]:
dic.values()

In [ ]:
dic.items()

### 불

In [ ]:
2>1

In [ ]:
2<1

In [ ]:
bool(1)

In [ ]:
bool(0)

In [ ]:
bool('False')

In [ ]:
bool('')

In [ ]:
bool([])

In [ ]:
bool([False])

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
not True

## 조건문

In [ ]:
condition = 0

if condition > 0:
    print("positive")
elif condition < 0:
    print("negative")
else:
    print("zero")

In [ ]:
condition = 0

if condition > 0:
    print("positive")
    elif condition < 0:
    print("negative")
else:
    print("zero")

In [ ]:
condition = 0

if condition >= 0:
    print("Non-negative")
elif condition < 0:
    print("negative")

In [1]:
condition1 = True
condition2 = False

if condition1 and condition2:
    print("Both are True")
else:
    print("No way")

No way

## 반복문

In [ ]:
i = 0
while i < 10:
    print(i)
    i += 1

In [ ]:
for i in range(10):
    print(i)

In [ ]:
print("List")
for x in [1,2,3]:
    print(x)
    
print("Tuple")
for x in (1,2,3):
    print(x)

In [ ]:
a = [1,2,3]
for idx, x in enumerate(a):
    print(idx, x) # x = a[idx]

In [ ]:
t_list = [(1,2), (3,4), (5,6)]
for (a,b) in t_list:
    print("a: %d, b: %d"%(a,b))

In [ ]:
for c in "hello":
    print(c)

In [ ]:
d = {'a': 1, 'b': 2, 3: 4}
for key in d.keys():
    print(key)
    
for value in d.values():
    print(value)

for key, value in d.items():
    print(key, value)

## break, continue, pass

In [ ]:
for i in range(10):
    if i == 5:
        break
    print(i)

In [ ]:
for i in range(10):
    if i == 5:
        continue
    print(i)

In [ ]:
for i in range(10):
    if i == 5:
        pass
    print(i)

## function

In [2]:
def summation(num):
    sum = 0
    for i in range(num):
        sum += i + 1
    return sum

print(summation(5))

def sum_mul(num):
    sum = 0
    mul = 1
    for i in range(num):
        sum += i + 1
        mul *= i + 1
    return sum, mul

print(sum_mul(5))

15
(15, 120)

In [ ]:
def sum_many(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

print(sum_many(1,2,3))
print(sum_many(1,3,5,7,9))

def sum_many2(base = 0, *args):
    for i in args:
        base += i
    return base

print(sum_many2(10,1,2,3))

## Lambda function

In [ ]:
(lambda x,y: x+y)(1,2)

In [ ]:
list(map(lambda x: x**2, range(5)))

In [ ]:
from functools import reduce
reduce(lambda x,y: x+y, range(5))

In [ ]:
list(filter(lambda x: x<3, range(5)))

## 클래스

In [3]:
class Animal:
    def __init__(self, name):
        self.name = name
    
    def introduction(self):
        print("Hi, I am an animal and my name is "+ self.name)
        

class Dog(Animal):
    def introduction(self):
        print("bow-wow, I am a dog and my name is "+self.name)
        

john = Animal("john")
john.introduction()

peter = Dog("peter")
peter.introduction()

Hi, I am an animal and my name is john
bow-wow, I am a dog and my name is peter

In [ ]:
## 예외처리

In [ ]:
try:
    myNum = int('two')
    print(myNum)
except ValueError:
    print('convert error')

In [ ]:
try:
    myNum = int('two')
    print(myNum)
except ValueError as e:
    print(e)

In [ ]:
try:
    myNum = int('two')
    print(myNum)
except ValueError as e:
    print(e)
finally:
    print("finally")

In [ ]:
line = None
try:
    with open('a.txt', 'r') as f:
        line = f.readline()
        myNum = int(line)
        myResult = 200 / myNum
except (IOError, ValueError) as e:
    print('IOError or ValueError', e)
except ZeroDivisionError as e:
    print('ZeroDivisionError', e)

In [ ]:
line = None
try:
    with open('a.txt', 'r') as f:
        line = f.readline()
except FileNotFoundError:
    pass

## 파일 입출력

In [7]:
f = open("Intro.txt", "r")

In [8]:
f.read()

'Korea University\nDepartment of Engineering\nIndustrial Engineering\nData Analysis\nJieun Son'

In [9]:
f.readlines()

[]

In [10]:
f.close()

In [11]:
f = open("Intro.txt", "r")

In [12]:
f.readlines()

['Korea University\n',
 'Department of Engineering\n',
 'Industrial Engineering\n',
 'Data Analysis\n',
 'Jieun Son']

In [13]:
f.read()

''

In [14]:
f.close()

In [15]:
f = open("Intro.txt", "r")

In [16]:
f.readline()

'Korea University\n'

In [17]:
f.readlines()

['Department of Engineering\n',
 'Industrial Engineering\n',
 'Data Analysis\n',
 'Jieun Son']

In [18]:
f.close()

In [19]:
f = open("out.txt", "w")
f.write("data management ")
f.write(" and analysis")
f.close()

In [20]:
with open("Intro.txt", "r") as f:
    print(f.readlines())

['Korea University\n', 'Department of Engineering\n', 'Industrial Engineering\n', 'Data Analysis\n', 'Jieun Son']